<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjservice.user.mapper.AuthMapper">

    <!-- 登录验证 -->
    <select id="checkLogin" resultType="com.zjservice.user.pojo.auth.LoginResponse">
        SELECT
            a.userId,
            a.status,
            b.image
        FROM
            tb_user a
                LEFT JOIN tb_user_info b ON a.userId = b.userId
        WHERE
            userName = #{userName}
          AND PASSWORD = #{password}
          AND deleteStatus = FALSE
    </select>

    <!-- 获取当前用户所有角色 -->
    <select id="queryUserOfRole" resultType="com.zjservice.common.entity.BaseSelect">
        SELECT a.roleId AS value,a.roleName AS label FROM tb_role as a,tb_user_role b
        WHERE a.status=true AND a.roleId=b.roleId AND b.userId=#{userId}
    </select>

    <!-- 获取当前角色所有权限菜单 -->
    <select id="queryAuthToRole" resultType="com.zjservice.user.pojo.menu.MenuTree">
        SELECT b.pid as parentId,b.menuId as value ,b.* FROM tb_role_menu a,tb_menu b
        WHERE a.menuId=b.menuId AND a.roleId=#{roleId}
    </select>

    <select id="queryMenuCascade" resultType="com.zjservice.user.pojo.menu.MenuTree">
        SELECT *,pid as parentId,menuId as value
        FROM  tb_menu
        where
        type BETWEEN 0 AND 1
        <if test="menuId!='' and menuId!=null">
            AND menuId=#{menuId}
        </if>
        order by sort
    </select>

    <select id="queryUserOfPermission" resultType="java.lang.String">
        SELECT
            e.permission
        FROM
            tb_user a,
            tb_user_role b,
            tb_role c,
            tb_role_menu d,
            tb_menu e
        WHERE
            a.userId = b.userId
          AND b.roleId = c.roleId
          AND c.roleId = d.roleId
          AND d.menuId = e.menuId
          AND e.permission != ''
          AND NOT ISNULL(e.permission)
          AND a.userId = #{userId}
    </select>

</mapper>